<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692160422522-r6llq0dve7idigoe1q5cs12r0lhfv8mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692160422522-r6llq0dve7idigoe1q5cs12r0lhfv8mk</string>
	<key>API_KEY</key>
	<string>AIzaSyCeaOS2zFVwCYcIG3iMw-h6_Hdx0cuOpoY</string>
	<key>GCM_SENDER_ID</key>
	<string>692160422522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pointofnilreturn.FireCards</string>
	<key>PROJECT_ID</key>
	<string>firecards-60e8a</string>
	<key>STORAGE_BUCKET</key>
	<string>firecards-60e8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692160422522:ios:3825c4774cec0bd413d1c3</string>
</dict>
</plist>